server:
  port: 8086

spring:
  application:
    name: long-links-returning-service
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    platform: postgres
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/link_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate

