server:
  port: 8087

spring:
  application:
    name: short-link-service
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    platform: postgres
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5434}/link_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        connection:
          provider_disables_autocommit: true
    flyway:
      enabled: true
      validate-on-migrate: true
      baseline-on-migrate: true
      locations: classpath:db/migration

